.wrapper {
    width: 100%;
    height: 100%;
}

.root {
    height: 100%;
}

.input {
    text-align: right;
    font-size: medium;
    /* border-radius: 0%; */
    height: 100%;
    border: none;
}

.track {
    cursor: pointer;
}